{% extends "lessons/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block central_content %}
{% include "socialaccount/snippets/login_extra.html" %}
<!--=================================
 login-->
    <div class="col-lg-12 col-md-12">
      <div class="section-title text-center">
          <h4 class="title-effect">Login to your Account</h2>
      </div>
    </div>
     <div class="col-lg-12 col-md-12">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6">
          <div class="pb-10 clearfix">
            <!-- form error messages -->
            {% if form.non_field_errors %}
                <ul class='form-errors text-danger'>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <!-- form error messages -->
            <!-- FORM -->
            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
                <div class="section-field mb-20">
                 <label class="mb-10" for="id_login">User name* </label>
                   <input id="id_login" class="web form-control" type="text" placeholder="User name" name="login" required>
                </div>
                <div class="section-field mb-20">
                 <label class="mb-10" for="id_password">Password* </label>
                   <input id="id_password" class="Password form-control" type="password" placeholder="Password" name="password">
                </div>
                <div class="section-field">
                  <div class="custom-control custom-checkbox mb-30">
                    <input type="checkbox" class="custom-control-input" id="id_remember" name="remember">
                    <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                  </div>
                </div>
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <input class="button" value="Log in" type="submit" />
            </form>

            <!-- FORM -->
            <p class="mt-20 mb-0"><a href="{% url 'account_reset_password' %}"> Forgot password?</a></p>
          </div>
          <div class="login-social text-center">
              <h4 class="theme-color mb-30">Or</h4>
              <ul>
                  <li><a class="github" href="{% url 'github_login' %}?process=login"><i class="fa fa-github"></i> Login with Github</a></li>
              </ul>
          </div>
        </div>
      </div> <!-- ROW -->
    </div>

<!--=================================
 login-->

{% endblock %}
