{% extends "lessons/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block central_content %}
    <div class="col-lg-12 col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb br-0">
          <li class="breadcrumb-item"><a class="theme-color" href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item"><a class="theme-color" href="{% url 'user_profile' %}">Profile</a></li>
          <li class="breadcrumb-item active" aria-current="page">Change Password</li>
        </ol>
      </nav>
      <div class="section-title text-center">
          <h3 class="title-effect">{% trans "Change Password" %}</h3>
      </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="p-1 p-md-3">
          <!-- form error messages -->
            {% if form.errors %}
              <ul class='form-errors text-danger'>
                {% for field in form %}
                    {% for error in field.errors %}
                      <li>{{ error|escape }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <!-- form error messages -->
            <form class="change_password" method="POST" action="{% url 'account_change_password' %}">
              {% csrf_token %}
              <div class="section-field mb-20">
               <label class="mb-10" for="id_oldpassword">Current Passsword* </label>
                 <input id="id_oldpassword" class="web form-control" type="password" placeholder="Current Password" name="oldpassword" required>
              </div>

                <div class="section-field mb-20">
                 <label class="mb-10" for="id_password1">New Password* </label>
                   <input id="id_password1" class="web form-control" type="password" placeholder="password..." name="password1" required>
                </div>
                <div class="section-field mb-20">
                 <label class="mb-10" for="id_login">New Password (again)* </label>
                   <input id="id_email" class="web form-control" type="password" placeholder="password (again)..." name="password2" required>
                </div>
                <input class="button btn" type="submit" value="{% trans 'Change Password' %}" />
            </form>
        </div>
    </div>
{% endblock %}
