{% extends "lessons/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block central_content %}
    <div class="col-lg-12 col-md-12">
      <div class="section-title text-center">
          <h4 class="title-effect">{% trans "Set Password" %}</h4>
      </div>
    </div>

    <div class="col-lg-12 col-md-12">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6">
          <div class="pb-10 clearfix">
            <!-- form error messages -->
            {% if form.errors %}
              <ul class='form-errors text-danger'>
                {% for field in form %}
                    {% for error in field.errors %}
                      <li>{{ error|escape }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <!-- form error messages -->
            <!-- FORM -->
            <form class="login" method="POST" action="{% url 'account_set_password' %}">
              {% csrf_token %}
                <div class="section-field mb-20">
                 <label class="mb-10" for="id_password1">Password* </label>
                   <input id="id_password1" class="web form-control" type="password" placeholder="password..." name="password1" required>
                </div>
                <div class="section-field mb-20">
                 <label class="mb-10" for="id_login">Password (again)* </label>
                   <input id="id_email" class="web form-control" type="password" placeholder="password (again)..." name="password2" required>
                </div>
                <input class="button btn" type="submit" value="{% trans 'Set Password' %}" />
            </form>
            <!-- FORM -->
          </div>
        </div>
      </div> <!-- ROW -->
    </div>
{% endblock %}
