{% extends "lessons/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block central_content %}
    <div class="col-lg-12 col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb br-0">
          <li class="breadcrumb-item"><a class="theme-color" href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
      <div class="section-title text-center">
          <h3 class="title-effect">{% trans "Your Profile" %}</h3>
      </div>
      <form>
        <div class="form-group">
          <label for="id_account_type">Acount Type</label>
          <input type="text" readonly class="form-control" id="id_account_type" value="{% if is_pro %}PRO{% else %}FREE{% endif %}">
        </div>
        {% if is_pro %}
          <div class="form-group">
            <label for="id_paid_until">Paid until</label>
            <input class="form-control" id="id_paid_until" type="text" value="{{ user_profile.pro_enddate }}" readonly>
          </div>
        {% endif %}
        <div class="form-group">
          <label for="id_username">Username:</label>
          <input type="text" readonly class="form-control" id="id_username" value="{{ user.username }}">
        </div>
        <div class="form-group">
          <label for="id_username">Email:</label>
          <input type="email" readonly class="form-control" id="id_email" value="{{ user.email }}">
        </div>
        
        <div class="py-3">
          <a class="btn btn-info br-0" href="{% url 'account_change_password' %}">Change Password</a>
          {% if not is_pro %} <a class="btn btn-success br-0" href="{% url 'upgrade' %}">Upgrade</a> 
          {% endif %}
        </div>
      </form>
    </div>
{% endblock %}
