{% load wagtailcore_tags static %}

<div class="right-sidebar"> 
  <div class="card my-4 d-none d-lg-block">
    <h5 class="card-header">All Lessons</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-unstyled mb-0 categories">
            <li class="{% if current_lesson_type == 'free' %} active {% endif %}">
              <a href="{% url 'index' %}?ltype=free">Free Lessons</a>
            </li>
            <li  class="{% if current_lesson_type == 'pro' %} active {% endif %}">
              <a href="{% url 'index' %}?ltype=pro">Pro Lessons</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-4 d-none d-lg-block">
    <h5 class="card-header">Tags</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-unstyled mb-0 categories">
            {% for tag in tags %}
            <li class="{% if current_tag_name == tag.name %} active {% endif %}">
              <a href="{% slugurl 'tags' %}?tag={{ tag.name }}">{{ tag.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
