<!-- Sidebar Widgets Column -->
<div class="col-md-3">
  <!-- Categories Widget -->
  <div class="card my-4">
    <h5 class="card-header">Categories</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-unstyled mb-0 categories">
            <li>
              <a href="#">Django Models</a>
            </li>
            <li>
              <a href="#">PostgreSQL</a>
            </li>
            <li>
              <a href="#">Nginx</a>
            </li>
            <li>
              <a href="#">Django Views</a>
            </li>
            <li>
              <a href="#">Static Assets</a>
            </li>
            <li>
              <a href="#">Authentication</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
