{% load wagtailcore_tags static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Django Lessons for intermediate Django developer, but beginners and experts will get something out of it as well." />
<meta name="author" content="Eugen Ciur <eugen@django-lessons.com>" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Django Lessons</title>

<!-- Favicon -->
<link rel='shortcut icon' type='image/x-icon' href="{% static 'lessons/favicon.ico' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'lessons/css/bundle.css' %}" />
<link rel="alternate" type="application/rss+xml" title="Django Lessons" href="https://www.django-lessons.com{% url 'feed' %}" />

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>

    <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
       hljs.initHighlightingOnLoad();
    });
    </script>

</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-lg navbar-custom py-1 fixed-top">
    {% include 'lessons/includes/_nav.html' %}
  </nav>
  <!-- Page Content -->
  <div class="main container">
    <div class="row pt-5 mt-5">
        {% block central_content %}
        {% endblock %}
    </div>
  </div>
    <!-- /.container -->
  {% block news_letter_section %}
  {% endblock news_letter_section %}
  <!--=================================
 footer -->

  <footer class="footer black-bg">
    {% include 'lessons/includes/_footer.html' %}
  </footer>
<!--=================================
 footer -->

</div>
  <script src="{% static 'lessons/js/bundle.js' %}"></script>
  {% if not debug %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154361971-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-154361971-2');
    </script>
  {% endif %}
</body>
</html>
