<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Django Lessons for intermediate Django developer, but beginners and experts will get something out of it as well." />
<meta name="author" content="Eugen Ciur <eugen@django-lessons.com>" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Django Lessons</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<link rel="stylesheet" type="text/css" href="{{ STATIC_CSS_URL }}" />

</head>

<body>
  {% include 'lessons/_nav.html' %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="{% block central_col_class %} col-lg-9 {% endblock %}">
        {% block central_content %}
        {% endblock %}
      </div>
      {% block right_sidebar %}
        <div class="{% block sidebar_col_class %} col-md-3 {% endblock %}">
          {% include 'lessons/_right_sidebar.html' %}
        </div>
      {% endblock %}
    </div>
    <!-- /.row -->

  </div>
    <!-- /.container -->

  <!--=================================
 footer -->

  <footer class="py-5">
    <div class="container">
      <ul class="list-unstyled  d-flex flex-row">
        <li><p class="m-0 text-center">Copyright &copy; Django Lessons 2019</p></li>
        <li><a class="mx-2" href="{% url 'impressum' %}">Impressum</a></li>
        <li><a class="mx-2" href="{% url 'privacy' %}">Privacy</a></li>
      </ul>
      
    </div>
    <!-- /.container -->
  </footer>
<!--=================================
 footer -->

</div>
  <script src="{{ STATIC_JS_URL }}"></script>
</body>
</html>
