{% extends 'lessons/base.html' %}

{% block central_content %}
    <div class="row py-3">
        <div class="col-lg-12 col-md-12">
            <h3>Impressum</h3>
            <p>
                <ul class="list-unstyled">
                    <li> Eugen Ciur </li>
                    <li> Lowenberger Str 4,</li>
                    <li>10315 Berlin </li>
                </ul>
                <ul class="list-unstyled">
                    <li>Email: <a href="mailto:eugen@django-lessons.com">eugen@django-lessons.com</a></li>
                </ul>
            </p>
        </div>
    </div>  
{% endblock %}