{% extends 'lessons/base.html' %}
{% load static %}

{% block central_content %}
    {% for lesson in lessons %}
    <div class="row lesson border-bottom py-3">
        <div class="col-lg-4 d-lg-flex flex-column justify-content-center align-items-center">
            <a href="{{ lesson.get_absolute_url }}">
                <img src="/static/img/lesson_{{lesson.order}}_thumb.jpg"  width="280" alt="">
            </a>
        </div>
        <div class="col-lg-8">
            <div class="header text-muted">
                <ul class="list-unstyled d-flex flex-row">
                    <li class="mx-1"><span class="font-weight-bold">Lesson #{{lesson.order}}</span></li>
                    <li>–</li>
                    <li class="mx-1">{{lesson.updated_at | date:"M d, Y"}}</li>
                </ul>
            </div>
            <h5><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></h5>
            <p class="description mb-3">
                {{lesson.description}}
            </p>
            <p>
                <a href="{{ lesson.get_absolute_url }}" class="btn btn-success" role="button">Watch</a>
            </p>
        </div>
    </div>
    {% endfor %}
{% endblock %}