{% extends 'lessons/base.html' %}
{% load static thumbnail wagtailcore_tags %}

{% block home %} active {% endblock %}

{% block news_letter_section %}
  <section class="mild-bg page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
          <h2 class="mb-30 text-white">Subscribe to the newsletter</h2>
          <p class="mb-30 text-white">Be always informed about latest news, lessons, courses. I will never send more than one email per week.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 text-center">
            <form class="newsletter" action="{% url 'subscribe' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input id="id_email" type="text" placeholder="Email Address" class="form-control" name="email">
                <small id="emailHelp" class="form-text text-white">Your email won't be shared with anybody else.</small>
              </div>
               <button class="btn btn-outline-light" type="submit">Subscribe</button>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
{% endblock news_letter_section %}

{% block central_content %}
  <div class="row">
    <div class="{% block central_col_class %} col-lg-10  col-md-12 {% endblock %}">
      {% for lesson in lessons %}
          {% include 'lessons/includes/_lesson.html' with lesson=lesson %}
      {% endfor %}
      <ul class="pagination my-4">
          {% for i in paginator.page_range %}
              <li class="page-item {% if i == page_number %} active {% endif %}">
                  <a class="page-link" href="?page={{ i }}">{{i}}</a>
              </li>
          {% endfor %}
      </ul>
    </div>
    <div class="{% block sidebar_col_class %} col-lg-2 col-md-3 {% endblock %}">
      {% include 'lessons/_right_sidebar.html' %}
    </div>
  </div>
{% endblock %}