{% extends 'lessons/base.html' %}
{% load wagtailcore_tags %}

{% block central_col_class %} col-lg-12 {% endblock %}

{% block right_sidebar %} {% endblock %}
{% block sidebar_col_class %} {% endblock %}

{% block central_content %}
    <div class="page">
        <div class="row pt-3">
            <div class="col-lg-12">
               <h3 class="title">
                    <span class="font-weight-bold">
                    {{lesson_group.title}}
                    </span>
                </h3>
            </div>
        </div>
         <div class="row">
            <div class="col-lg-12 description">
                {{lesson_group.short_description | richtext }}
            </div>
        </div>
        <ul class="nav nav-tabs" id="tab">
            <li class="nav-item">
                <a class="nav-link active" id="notes-tab" data-toggle="tab" href="#main-content">
                    Lesson
                    <!-- End of main content for this lesson -->
                </a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" id="course-lesson-tab" role="tab" data-toggle="tab" href="#course">
                    <!--- Similar Lessons BEGIN -->
                    All Course Lessons
                    <!--- Similar Lessons BEGIN -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="previous-lesson-tab" role="tab" data-toggle="tab" href="#prev">
                    Previous Lesson
                </a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" id="next-lesson-tab" role="tab" data-toggle="tab" href="#next">
                    Next Lesson
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="main-content" role="tabpanel">
                <!--- BEGIN Main content for this lesson -->
                <div class="row  py-3">
                    <div class="col-lg-12">
                        {% for block in page.content %}
                            <section class="block-{{ block.block_type }}">
                                    {% include_block block %}
                            </section>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="header text-muted">
                            <ul class="list-unstyled d-flex flex-row">
                                <li class="mx-1"><span class="font-weight-bold">Lesson #{{page.order}}</span></li>
                                <li>–</li>
                                <li class="mx-1">{{page.first_published_at | date:"M d, Y"}}</li>
                                {% if page.tags.all.count %}
                                    <li class="mx-1 tags">
                                        {% for tag in page.tags.all %}
                                            <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                                                <spanc class="badge badge-info">{{ tag }}</span>
                                            </a>
                                        {% endfor %}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--- END Main content for this lesson -->
            </div>
            <div class="tab-pane" id="course" role="tabpanel">
                <!--- BEGIN Similar lessons -->
                <div class="row  py-3">
                    <div class="col-lg-12">
                        {% for lesson_group in all_course_lessons %}
                            {% include 'lessons/includes/_lesson_group.html' with lg=lesson_group %}
                        {% empty %}
                            <div class="p-2">
                                Wow, no similar lessons found! You have just found a very unique lesson!
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!--- END of Similar lessons -->
            </div>
          <div class="tab-pane" id="next" role="tabpanel">
            {% if next_item %}
                {% include 'lessons/includes/_lesson_group.html' with lg=next_item %}
            {% else %}
                <div class="p-2">
                    This is last lesson in the course
                </div>
            {% endif %}
          </div>
          <div class="tab-pane" id="prev" role="tabpanel">
            {% if prev_item %}
                {% include 'lessons/includes/_lesson_group.html' with lg=prev_item %}
            {% else %}
                <div class="p-2">
                    This is first lesson in the course
                </div>
            {% endif %}
          </div>
        </div>

    </div>
{% endblock %}