{% extends 'lessons/base.html' %}

{% block right_sidebar %} {% endblock %}
{% block about %} active {% endblock %}

{% block central_content %}
    <div class="row py-3 mission-statement">
        <div class="col-lg-12 col-md-12">
            <h2>Mission Statement</h2>
            <p>
                If you try hard and fail to understand some concept, it
                is not because concept is too difficult for you, it is just
                that the idea is poorly presented.
            </p>
            
            <p>
                Despite great amount of documentation it is more and more
                difficult task to track  ever increasing amount of techology
                information. Some projects are better documented, some are
                poorly documented, part of documentation is outdated, part of
                it is just too much to read.
            </p>

            <blockquote class="blockquote mission">
                <p class="mb-0">My mission is to present in <span class="font-weight-bold">simple, quick and easy to understand</span> words a wide range of topics from Django Web Framework ecosystem. Subjects like deployments, python programming, message queues are conffered in human language with lots of pictures, realistic usecases and to the point videos. </p>

                <p class="mb-0 mt-2">
                    I prepare meticulously each lesson to <span class="font-weight-bold">save your time on learning</span>, help you understand swiftly
                    and apply learned skills in your projects.
                </p>
                <footer class="blockquote-footer">Eugen Ciur, <cite title="Source Title">Django Lessons</cite></footer>
            </blockquote>
            <h4>For Mid-Level Developers</h4>
            <p>
                After you skimmed Django Documentation, watched a couple of YouTube videos, completed a few simple projects, landed in couple of python jobs - this is where it starts to be challenging to improve your skills. You will realize (like me) that there are less and less resources for intermediate developers. Django lessons target this niche.
            </p>
            <h4>Not for Noobs</h4>
            <p>
                I always felt that that beginners are lucky. Out there are a great amount of tutorials, videos, books
                which explain how to implement a <a href="https://en.wikipedia.org/wiki/Quicksort">quicksort algorithms</a>, how to define a python's class or what is a <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller#MODEL">model</a>. Beginners have plenty of material to learn basics from.
            </p>
            <p>
                So if you are just staring to learn IT and programming in general, probably Django Lessons is not for you. As a general rule, I will not explain what is a function in python, what is a HTTP request or that well known port for ssh is 22, for http is 80 and https is 443 - I take those things as
                obvious
            </p>
        </div>
    </div>  
{% endblock %}