{% extends 'lessons/base.html' %}

{% block right_sidebar %} {% endblock %}
{% block more %} active {% endblock %}

{% block central_content %}
    <div class="row py-3 mission-statement">
        <div class="col-lg-12 col-md-12">
            <h2>Mission Statement</h2>
            <blockquote class="blockquote mission m-1 m-sm-5">
                <p class="mb-0">My mission is to present in <span class="font-weight-bold">simple, quick and easy to understand</span> words a wide range of topics from Django Web Framework ecosystem. Subjects like deployments, python programming, message queues are conffered in human language with lots of pictures, realistic usecases and to the point videos. </p>

                <p class="mb-0 mt-2">
                    I prepare meticulously each lesson to <span class="font-weight-bold">save your time on learning</span>, help you understand swiftly
                    and apply learned skills in your projects.
                </p>
                <footer class="blockquote-footer">Eugen Ciur, <cite title="Source Title">Django Lessons</cite></footer>
            </blockquote>
            <h4>For Mid-Level Developers</h4>
            <p>
                After you skimmed Django documentation, watched a couple of YouTube videos, completed a few simple projects, maybe you even landed in couple of python jobs - it starts to be more and more challenging to improve your skills. You will realize (like me) that there are less and less resources for intermediate developers. Django Lessons fills in this gap. It targets intermediate software developers who want to improve their skills about Django, Python, Web and cloud software in general.
            </p>
            <p>
                To some extent it might be useful to beginners and well.
            </p>
        </div>
    </div>  
{% endblock %}