{% extends 'lessons/base.html' %}

{% block right_sidebar %} {% endblock %}
{% block prices %} active {% endblock %}

{% block central_content %}
    <div class="row py-3 mission-statement">
        <div class="col-lg-12 col-md-12">
            <h2>Prices</h2>
            <p>
                For now, all content is for free.
            </p>
            <p>
                I plan to introduce PRO lessons, which will be only
                accessible for PRO accounts.
            </p>
        </div>
    </div>  
{% endblock %}