{% extends 'lessons/base.html' %}

{% block right_sidebar %} {% endblock %}

{% block central_content %}
    <div class="legal p-4 p-md-5">
        <div class="row">
            <h1>
                Terms and Conditions of Use
            </h1>
            
            <p>
                These terms and conditions ("Terms and Conditions") govern your use of this website {{website}} ("Website"). In these Terms and Conditions, online resource {{website}} offered by Eugen Ciur, Löwenbergerstr 4, 10315 Berlin, Germany is referred to as the "Service", "{{service_name}}", "{{website}}", "us" or "we"
            </p>

            <h2>
                1. Terms
            </h2>

            <p>
                By accessing {{service_name}}, you are agreeing to be bound by these Terms and Conditions of Use ("Terms and Conditions"), all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials, information, software, and content contained in and on {{website}}’s web site (collectively referred to herein as the “Materials”) are protected by applicable copyright and trademark law. {{service_name}} may be referred to herein as "we", "us", or "{{website}}".
            </p>

            <h2>
                2. Disclaimer
            </h2>

            <p>
                The Materials are provided "as is". {{service_name}} makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, {{service_name}} does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the Materials or otherwise relating to such Materials or on any web sites linked to this web site.
            </p>

            <h2>
                3. Limitations
            </h2>
            <p>
                In no event shall {{service_name}} be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the Materials, even if {{service_name}} or a {{service_name}} authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
            </p>

            <h2>
                4. Revisions and Errata
            </h2>
            <p>
                The Materials could include errors, including but not limited to technical, typographical, or photographic. {{service_name}} does not warrant that any of the Materials are accurate, complete, or current. {{service_name}} may make changes to the Materials at any time without notice, however {{service_name}} does not make any commitment to update the Materials.
            </p>

            <h2>
                5. Links
            </h2>
            <p>
                {{service_name}} has not reviewed all of the sites linked to its web site and is not responsible for the content of any such linked web site. The inclusion of any link does not imply any endorsement by {{service_name}} of the linked web site. Use of any such linked web site is at your own risk.
            </p>
        </div>
    </div>
{% endblock %}