{% extends 'lessons/base.html' %}

{% block right_sidebar %} {% endblock %}

{% block central_content %}
    <div class="legal p-2 p-md-4">
        <div class="row">
            <h1>
                Terms and Conditions of Use
            </h1>
            
            <p>
                These terms and conditions ("Terms and Conditions") govern your use of this website {{website}} ("Website"). In these Terms and Conditions, online resource {{website}} offered by Eugen Ciur, Löwenbergerstr 4, 10315 Berlin, Germany is referred to as the "Service", "{{service_name}}", "us" or "we"
            </p>

            <h2>
                1. Terms
            </h2>

            <p>
                By accessing {{service_name}}, you are agreeing to be bound by these Terms and Conditions of Use ("Terms and Conditions"), all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials, information, software, and content contained in and on {{website}}’s web site (collectively referred to herein as the “Materials”) are protected by applicable copyright and trademark law. {{service_name}} may be referred to herein as "we", "us", or "{{website}}".
            </p>
        </div>
    </div>
{% endblock %}