{% extends 'lessons/base.html' %}
{% load static %}

{% block right_sidebar %} {% endblock %}

{% block central_content %}
    <div class="row py-3">
        <div class="col-lg-12 col-md-12">
           <div class="container">
                <div class="section-title text-center">
                    <h3 class="title-effect">Thank you!</h3>
                </div>
              <p>
                  Thank you for your email. You will be notified in case of important events. 
              </p>
              <div>
                  <a class="btn btn-success br-0" href="{% url 'index' %}">Return to index page</a>
              </div>
           </div>
        </div>
    </div>  
{% endblock %}